@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Nunito:wght@200;600&display=swap");

body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
#logo {
  color: #5eb172;
  font-family: "Dancing Script", cursive !important;
}
#logo-img {
  color: #080808;
}
.nav-item {
  font-weight: 600 !important;
}
#cart-icon {
  margin-right: 30px;
}
.btn-order {
  width:130px;
  height: 40px;
  margin-left: 10px;

  background-color: #5eb172;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  outline: none;
}
.order {
  width: 230px;

}
.btn-order:hover {
  background-color: transparent;
  border: 2px #5eb172 solid;
  color: #080808;
}

#banner-section {
  background-color: rgba(228, 237, 221, 0.62);
  border-radius: 20px;
}

/* FEATURED SECTION */

#row {
  width: 90%;
}

@media only screen and (max-width: 1400px) {
  #row {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 1000px) {
  #row {
    width: 100%;
    justify-content: center;
  }
}
.card-container {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  position: relative;
}

.card {
  width: 250px;
  height: 230px;
  margin-bottom: 40px !important;

  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.cardHeader {
  background-color: rgba(228, 237, 221, 0.62);
  height: 30%;
  position: relative;
  border-radius: 10px;
}
.cardHeader img {
  margin: auto;
  position: absolute;
  top: -110px;
  left: 15px;
}
.cardFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 0px;
}
#price {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#price img {
  fill: #5eb172;
}
.card-title {
  font-size: 22px;
  padding-left: 5px;
}
.ratings {
  display: flex;
  align-self: flex-start;
  padding-left: 5px;
}
.ratings i {
  color: rgb(221, 221, 10);
  font-size: 22px;
  margin: 0 3px;
}
.ratings h4 {
  margin-left: 30px;
}

#menu-section {
  background-color: rgba(228, 237, 221, 0.62);
  border-radius: 20px;
}

#bg-section {
  height: 300px;
  background-image: url("../images/bg-footer.jpg");
  background-size: cover;
  border-radius: 20px;
  background-repeat: no-repeat;
}

/* FOOTER SECTION */
#footer-section {
  background-color: rgba(228, 237, 221, 0.62);
  border-radius: 20px;
}

#footer {
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.line {
  margin: auto 0;
  height: 150px;
  border-right: 5px dashed #5eb172;
}
.footer-links {
  list-style: none;
  text-align: center;
}
.link a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(51, 51, 51);
}
.address {
  text-align: center;
}
.address p {
  font-size: 20px;
  margin: 10px 0;
  color: rgb(51, 51, 51);
}
.social-icons {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.social-icons i {
  font-size: 24px;
  color: #5eb172;
}
.footer-logo h2 {
  margin-top: 0;
  font-weight: 800;
}
.footer-logo span {
  color: #5eb172;
}
.copyright {
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: 10px;
}
.copyright p {
  font-size: 18px;
  color: rgb(51, 51, 51);
  margin: 4px;
}
.copyright p > i {
  color: red;
  font-size: 18px;
}

@media only screen and (max-width: 430px) {
  .line {
    display: none;
  }
  .footer {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .quick-links h2 {
    margin-left: 30px;
  }
}
.counter {
  position: relative;

}
#count {
  position: absolute;
  top: -14px;
  left: 14px;
  border-radius: 50%;
  height: 20px;
  padding-left: 5px;
  font-size: 14px;
  font-weight: bolder;
  width: 20px;
  color: white;
  background-color: #5eb172;
}
.delivery {
  display: none;
}