@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Nunito:wght@200;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif !important;
}
#logo {
  color: #5eb172;
  font-family: "Dancing Script", cursive !important;
}
#logo-img {
  color: #080808;
}
.nav-item {
  font-weight: 600 !important;
}
#cart-icon {
  margin-right: 30px;
}
.btn-order {
  width: 130px;
  height: 40px;
  margin-left: 10px;

  background-color: #5eb172;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  outline: none;
}
.btn-order:hover {
  background-color: transparent;
  border: 2px #5eb172 solid;
  color: #080808;
}

#banner-section {
  background-color: rgba(228, 237, 221, 0.62);
  border-radius: 20px;
}

/* FEATURED SECTION */
.card-container {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  position: relative;
}

.card {
  width: 250px;
  height: 230px;
  
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.cardHeader {
  background-color: rgba(228, 237, 221, 0.62);
  height: 30%;
  position: relative;
  border-radius: 10px;
}
.cardHeader img {
  margin: auto;
  position: absolute;
  top: -100px;
  left: 30px;
  
}
.cardFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 0px;
}
.card-title {
  font-size: 24px;

  padding-left: 5px;
}
.ratings {
  display: flex;
  align-self: flex-start;
  padding-left: 5px;
}
.ratings i {
  color: rgb(221, 221, 10);
  font-size: 22px;
  margin: 0 3px;
}
.ratings h4 {
  margin-left: 50px;
}

